.pagina-principal-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Agregar esta propiedad para recortar el contenido que se desborda */
}

.barra {
  width: auto;
  max-width: 100%;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}

.elemento {
  margin: 0;
  font-size: 2.5em;
  color: #79a981;
  width: 100%;
}

.menu-lateral {
  position: absolute;
  top: 60px;
  right: 0;
  width: 250px;
  background-color: rgba(51, 51, 51, 0.9);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-lateral.open {
  transform: translateX(0);
}

.menu-lateral a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.cuadro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cuadro-container.dos-columnas {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cuadros {
  padding: 40px;
  border-radius: 50px;
  background-color: rgba(121, 169, 129, 0.8);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-weight: bold;
  width: 30%; /* Ajusta el ancho para que quepan dos columnas */
  margin: 10px; /* Espaciado entre los cuadros */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 10; /* Asegura que el canvas esté detrás de otros elementos */

  
}

.cuadros:hover {
  transform: scale(1.05);
}

.medio {
  margin-top: 10px;
}

.galileo-image {
  position: absolute;
  bottom: -9%;
  right: 0;
  width: 19%;
  height: auto;
  margin-right: 4%;
  z-index: -1; /* Agregar z-index para asegurar que la imagen esté por encima de otros elementos */
}

canvas {
  position: fixed;
  top: 5%;
  left: 4%;
  width: 95%;
  height: 95%;
  z-index: 1; /* Asegura que el canvas esté detrás de otros elementos */
}
