.pagina-experimentos-container {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .barra {
    width: 100%;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Gris 2 con opacidad */
    color: white;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .elemento {
    margin: 0;
    font-size: 2.5em;
    color: #79a981; /* Verde de la empresa */
  }
  /* Añade esta clase para definir el color verde del botón */
.greenButton {
  background-color: #79a981; /* Cambia el color de fondo a verde */
  color: white; /* Cambia el color del texto a blanco */
  border: none; /* Elimina el borde */
  padding: 10px 20px; /* Ajusta el espaciado interno */
  font-size: 20px; /* Ajusta el tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 5px; /* Añade bordes redondeados */
  transition: background-color 0.3s; /* Agrega transición suave al color de fondo */
}

/* Define el efecto de hover */
.greenButton:hover {
  background-color: #567a5f; /* Cambia el color de fondo al pasar el mouse */
}

  .flecha {
    text-decoration: none;
    font-size: 1.5em;
    color: #79a981; /* Verde de la empresa */
    padding: 10px;
  }
  
  .recuadro-container {
    display: flex;
    flex-direction: column; /* Mostrar cuadros uno debajo del otro */
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .recuadro {
    margin-bottom: 20px;
    width: 80%; /* Ajusta el ancho según sea necesario */
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(121, 169, 129, 0.8); /* Verde de la empresa con opacidad */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    
  }
  
  .recuadro:hover {
    transform: scale(1.05);
  }
  
  .link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bold;
  }
  