.pagina-principal-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra {
  width: 100%; /* Asegura que la barra ocupa todo el ancho de la pantalla */
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.8); /* Gris 2 con opacidad */
  color: white;
  text-align: center;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.elemento {
  margin: 0;
  font-size: 2.5em;
  color: #79a981; /* Verde de la empresa */
  width: 100%;
}

.menu-lateral {
  position: absolute;
  top: 60px;
  right: 0;
  width: 250px;
  background-color: rgba(51, 51, 51, 0.9); /* Gris 2 con más opacidad */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-lateral.open {
  transform: translateX(0);
}

.menu-lateral a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.cuadro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cuadros {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(121, 169, 129, 0.8); /* Verde de la empresa con opacidad */
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-weight: bold;
  width: 50%; /* Ajusta el ancho según sea necesario */
  margin: 10px 0; /* Espaciado entre los cuadros */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.cuadros:hover {
  transform: scale(1.05);
}

.medio {
  margin-top: 10px;
}
