.pagina-principal-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; 
  position: relative; 
}

.barra {
  width: 100%;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  box-sizing: border-box;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.elemento {
  margin: 0;
  font-size: 2.5em;
  color: #f4ecd8; 
  padding-left: 8px;
  width: 100%;
}

.menu-lateral {
  position: absolute;
  top: 60px;
  right: 0;
  width: 250px;
  background-color: rgba(51, 51, 51, 0.9); /* Gris 2 con más opacidad */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-lateral.open {
  transform: translateX(0);
}

.menu-lateral a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.cuadro-container {
  display: flex;
  flex-direction: column; /* Cambiar la dirección a columna */
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cuadros {
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(121, 169, 129, 0.8); /* Verde de la empresa con opacidad */
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
  padding: 30px;  /* Espaciado entre los cuadros */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.cuadros:hover {
  transform: scale(1.05);
}

.medio {
  margin-top: 10px;
}

.galileo-image {
  position: absolute; /* Posición absoluta para colocar la imagen en la esquina inferior derecha */
  bottom: 0;
  right: 0;
  width: 15%; /* La imagen ocupa media pantalla */
  height: auto; /* Mantener la proporción de la imagen */
  margin-right: 7%;
}
