.greenBackground {
  background-color: #79a981; /* Sets the background color of the entire page to green */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the content takes up the full height of the viewport */
  margin: 0; /* Removes default margin */
}

.suscripcion-container {
  text-align: center; /* Centers the text inside the container */
  position: relative; /* Allows positioning of the back button */
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: white; /* Arrow color */
}

.banner {
  margin-bottom: 20px;
}

.planes-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds some space between the plans */
}

.plan {
  background-color: white; /* Makes the individual plan background white */
  padding: 40px 30px; /* Increases padding for more width and height */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  width: 250px; /* Sets a fixed width */
  text-align: center; /* Centers the content within the plan */
}

.icono {
  font-size: 2em;
}

button {
  background-color: #007BFF; /* Blue background for the button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
